#update-product-form {
    margin-top:3em;
    margin-left: 10%;
    margin-right: 10%;
    height:78vh;
    padding:1rem;
}

#update-product-form input,
#description-div textarea {
    background-color: rgb(223, 214, 195); 
} 

#price-div{
    margin-top:2em;
}

#description-div {
    border-top: 5%;
    margin-top: 2rem;
  }

#description-div textarea {
  padding: 0.5rem;
}

#update-product-btn {
    margin-top: 1em;
    margin-bottom: 2em;
}
