#update-product-form {
  margin-top: 3em;
  margin-right: 10%;
  margin-left: 10%;
  height: 78vh;
  padding: 1rem;
}

#update-product-form input,
#description-div textarea {
  background-color: rgb(223, 214, 195);
}

#price-div {
  margin-top: 2em;
}

#description-div {
  margin-top: 2rem;
  border-top: 5%;
}

#description-div textarea {
  padding: 0.5rem;
}

#update-product-btn {
  margin-top: 1em;
  margin-bottom: 2em;
}
